* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 73, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem 0;
}

.screen {
  width: 65%;
  height: 8rem;
  background-color: lightgray;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
}

.row {
  display: flex;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.key,
.space {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0.5rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1.5rem;
  border: 4px solid black;
}

.key:hover,
.space:hover {
  border-color: blue;
}

.space {
  width: 50%;
}
